# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/AviarySDK
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Headers
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/Current
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/AviarySDK
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AFInAppPurchaseManager.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AFOpenGLManager.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AFPhotoEditorContext.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AFPhotoEditorController.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AFPhotoEditorCustomization.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AFPhotoEditorProduct.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AFPhotoEditorSession.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDK.framework/Versions/A/Headers/AviarySDK.h
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/adjustments.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/adjustments@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/asterisk.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/asterisk@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviary.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviary@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryColorPalatte.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryContentPackCompiledDatabase.sqlite
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryFontOptions.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryFontOptions_ar.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryFontOptions_ja.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryFontOptions_ko.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryFontOptions_ru.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryFontOptions_th.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryFontOptions_zh.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviaryLoader_big.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviaryLoader_big@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviaryLoader_dark.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviaryLoader_dark@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviaryLoader_light.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/aviaryLoader_light@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKColors.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKToolSettings.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviaryTextColorPalatte.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blemish.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blemish@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blemishToolTutorialTapRipple.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blemishToolTutorialTapRipple@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blue_check.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blue_check@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blur.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/blur@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border10_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border11_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border12_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border1_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border2_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border3_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border4_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border5_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border6_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border7_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border8_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/border9_small.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/bundle_purchase_button-active.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/bundle_purchase_button-active@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/bundle_purchase_button.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/bundle_purchase_button@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/bundleVersion.json
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/chevron.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/chevron@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/chevron_blue_left.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/chevron_blue_left@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/chevron_blue_right.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/chevron_blue_right@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/close_button.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/close_button@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/cloud.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/cloud@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/crop.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/crop@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/detail_close.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/detail_close@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/draw.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/draw@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/effects.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/effects@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/enhance.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/enhance@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/eraser.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/eraser@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/eraser_mask.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/eraser_mask@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/feedback.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/feedback@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/flip_h.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/flip_h@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/flip_v.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/flip_v@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/focus.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/focus@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/focus_linear.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/focus_linear@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/focus_radial.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/focus_radial@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/font_icon.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/font_icon@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/food.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/food@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/frame_thumbnail_default.jpg
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/frame_thumbnail_default@2x.jpg
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/frames.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/frames@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/get_more.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/get_more@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/get_more_mask.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/get_more_mask@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/hidef.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/hidef@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/icon_placeholder.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/icon_placeholder@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/imageDropShadow.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/imageDropShadow@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/Info.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/keyboard.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/keyboard@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/LeagueGothic-Regular.ttf
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/meme.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/meme@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/meme_close.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/meme_close@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/night.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/night@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/orientation.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/orientation@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/orientationKnob.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/orientationKnob@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/portrait.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/portrait@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/purchase_button-active.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/purchase_button-active@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/purchase_button.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/purchase_button@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/redeye.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/redeye@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/resizeKnob.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/resizeKnob@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/rotate_l.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/rotate_l@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/rotate_r.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/rotate_r@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/scenery.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/scenery@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/share.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/share@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/sharpness.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/sharpness@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/smallKnob.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/smallKnob@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash_eraser.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash_eraser@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash_free.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash_free@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash_smart.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/splash_smart@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/stickers.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/stickers@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_sel-uns.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_sel-uns@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_sel.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_sel@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_uns-sel.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_uns-sel@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_uns-uns.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_uns-uns@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_uns.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/store_uns@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/swipeArrow.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/swipeArrow@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/text.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/text@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/upSell_placeholder.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/upSell_placeholder@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/whiten.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/whiten@2x.png
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/ar.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPackPurchaseInfo.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPackV1ToPurchaseInfo.cdm
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPackV2ToPurchaseInfo.cdm
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPackV3ToPurchaseInfo.cdm
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/Info.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacks.momd/AviaryContentPacks 1.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacks.momd/AviaryContentPacks 2.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacks.momd/AviaryContentPacks 3.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacks.momd/AviaryContentPacks 3.omo
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacks.momd/VersionInfo.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 10.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 10.omo
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 2.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 3.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 4.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 5.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 6.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 7.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 8.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel 9.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/AviaryContentPacksDataModel.mom
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/AviarySDKContentResources.bundle/AviaryContentPacksDataModel.momd/VersionInfo.plist
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/de.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/en-GB.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/en.lproj/InfoPlist.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/en.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/es.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/fr.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/id.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/it.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/ja.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/ko.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/nl.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/pt-BR.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/ru.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/th.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/tr.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/zh-Hans.lproj/Localizable.strings
Pods/AviarySDK/AviarySDK-4.2.1/AviarySDK/AviarySDKResources.bundle/zh-Hant.lproj/Localizable.strings
Pods/Headers/Public/AviarySDK/AviarySDK/AFInAppPurchaseManager.h
Pods/Headers/Public/AviarySDK/AviarySDK/AFOpenGLManager.h
Pods/Headers/Public/AviarySDK/AviarySDK/AFPhotoEditorContext.h
Pods/Headers/Public/AviarySDK/AviarySDK/AFPhotoEditorController.h
Pods/Headers/Public/AviarySDK/AviarySDK/AFPhotoEditorCustomization.h
Pods/Headers/Public/AviarySDK/AviarySDK/AFPhotoEditorProduct.h
Pods/Headers/Public/AviarySDK/AviarySDK/AFPhotoEditorSession.h
Pods/Headers/Public/AviarySDK/AviarySDK/AviarySDK.h
Pods/AviarySDK
Pods/GoogleMaps
